$background-color: hsl(210, 60%, 98%);
$blue-color: hsl(219, 85%, 26%);
$red-color: hsl(1, 90%, 64%);
$greyish-blue-color: hsl(219, 14%, 63%);
$light-blue-color: hsl(211, 68%, 94%);
$dark-grey-color: hsl(219, 12%, 42%);

$normal-transition: 0.2s;